* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#ffffff, #c2f9f9, #a6dcdc);
}

a {
  cursor: url('../images/paw.png'), auto;
}

header {
  grid-column: 1 / 9;
  grid-row: 1 / 3;
  width: 100%;
  position: relative;
  }

#logo {
  display: block;
  width: 100%;
  max-width: 22rem;
  height: 100%;
  padding: 0 1rem .5rem;
}

h2 {
  display: inline-block;
  color: #666666;
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1rem;
  padding: 0 1rem .5rem;
}

article {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5rem auto auto auto auto auto auto auto;
}

figure {
  grid-column: 1 / 9;
  grid-row: 3 / 5;
  display: block;
  margin: 0;
}

figure img {
  width: 100%;
  object-fit: cover;
  width: 100%;
  display: block;
  margin-bottom: -20%;
}

form, section {
  background-color: rgba(44, 53, 128, .9);
  grid-column: 1 / 9;
  grid-row: 5 / 7;
  z-index: 2;
  padding: 2rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1rem;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  color: white;
}

form p, section p {
  padding-top: 1rem;
}

textarea:focus, input:focus {
    outline: none;
}

label {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 1rem;
  padding-top: .5rem;
}

label:first-of-type {
  padding-top: 1rem;
}

input[type="text"],[type="tel"],[type="email"],[type="number"] {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid #2a3281;
}

input::placeholder, textarea::placeholder {
  color: #cccccc;
}

textarea {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid #2a3281;
}

button {
  font-family: 'Merriweather', serif;
  width: 100%;
  padding: .5rem;
  font-size: 1.25rem;
  margin: .5rem auto .25rem;
  border: 1px solid #2a3281;
  border-radius: .5rem;
  background-color: #a4dbda;
  color: #2a3281;
}

button:hover {
  background-color: #7db2b2;
  color: white;
  cursor: url('../images/paw.png'), auto;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #528888;
  color: white;
}

small {
  font-size: .75rem;
  color: #999999;
  text-align: center;
  display: block;
}

#message {
  font-size: .85rem;
  color: #fdc70c;
  margin: .5rem .25rem;
}

aside {
  grid-column: 1 / 9;
  grid-row: 7 / 9;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  flex-basis: 40%;
  position: relative;
  padding: 2rem;
  border-spacing: 0;
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #2a3281;
}

h4 + p {
  padding-top: 1rem;
}

table {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  grid-column: 1 / 9;
  grid-row: 7 / 9;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  border-spacing: 0 .5rem;
  margin: .5rem;
}

caption {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  width: 100%;
  padding: .5rem;
  font-weight: 600;
  color: #2a3281;
}

tr {
  width: 100%;
}

td {
  padding: .5rem .5rem .5rem 1rem;
  background-color: rgba(255, 255, 255, .75);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

tr td:first-of-type {
  width: 6rem;
  background-color: rgba(164, 219, 218, 1);
  padding-right: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

@media(min-width:650px) {
  article {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem 5rem auto auto 50px auto auto auto;
  }
  header {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
  figure {
    grid-column: 1 / 5;
    grid-row: 3 / 5;
  }
  figure img {
    height: 100%;
    width: 100%;
  }
  form, section {
    grid-column: 4 / 9;
    grid-row: 2 / 6;
  }
  caption {
    padding-top: 1rem;
    width: 59%;
    background-color: rgba(164, 219, 218, .75);
  }
  table {
    border-top-right-radius: 1rem;
    grid-column: 1 / 6;
    grid-row: 5 / 9;
    padding: .25rem;
    background-color: rgba(164, 219, 218, .75);
  }
}

@media(min-width:750px) {
  article {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem 7rem auto auto 50px auto auto auto;
  }
}

@media(min-width:1050px) {
  article {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem auto auto auto 30px auto auto auto;
  }
  header {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
  figure {
    grid-column: 1 / 5;
    grid-row: 3 / 8;
  }
  form, section {
    grid-column: 4 / 9;
    grid-row: 2 / 5;
  }
  caption {
    padding-top: 1rem;
    width: 100%;
    background-color: rgba(164, 219, 218, .75);
  }
  table {
    border-top-right-radius: 0;
    margin: 0;
    padding: 0 2rem 1rem;
    grid-column: 2 / 8;
    grid-row: 7 / 9;
    background-color: rgba(164, 219, 218, .75);
  }
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: .75rem;
  text-align: center;
  padding: .5rem;
}

