* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

a {
  cursor: url('../images/paw.png'), auto;
}

header {
  padding: 1rem 1.5rem 10rem;
  margin-bottom: -10rem;
  width: 100%;
  position: relative;
  overflow-y: visible;
  background: url('../images/head.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto;
}

@media(max-width:1280px) {
  header {
    background-size: cover;
  }
}

#logo {
  display: inline-block;
  width: 20rem;
  height: 100%;
  margin-right: auto;
}

#borktag {
  display: inline-block;
  width: 6rem;
  height: 7.9rem;
  animation: drop 1s cubic-bezier(.57,.12,.71,1.68), spin 3s linear infinite 1.1s;
  position: absolute;
  top: .5rem;
  right: 1rem;
  z-index: 2;
  filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .4));
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .4));
    }
  50% {
    -webkit-transform: rotateY(180deg);
    filter: drop-shadow(-4px 4px 3px rgba(0, 0, 0, .4));
  }
  100% {
    -webkit-transform: rotateY(359deg);
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .4));
  }
}

@keyframes drop {
  0% {
    transform: translateY(-125%);
  }
  70% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-2%);
  }
  90% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0);
  }
}

h2 {
  display: inline-block;
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.25rem;
}

article {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #ffffff;
}

figure {
  z-index: 2;
  display: block;
  flex-basis: 25%;
  height: 25vw;
  max-height: 800px;
  max-width: 800px;
  margin: 0;
}

figure img {
  border-radius: .5rem;
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

form, section {
  z-index: 2;
  margin: 0 2%;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: #021d68;
  font-size: 1rem;
  flex-basis: 46%;
}

h3 {
  font-size: 1.75rem;
  color: #2a3281;
}

form p, section p {
  padding-top: 1rem;
}

textarea:focus, input:focus {
    outline: none;
}

label {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 1rem;
  padding-top: .5rem;
}

label:first-of-type {
  padding-top: 1rem;
}

input[type="text"],[type="tel"],[type="email"],[type="number"] {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid #2a3281;
}

input::placeholder, textarea::placeholder {
  color: #cccccc;
}

textarea {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid #2a3281;
}

button {
  width: 100%;
  padding: .5rem;
  font-size: 1.25rem;
  margin: .5rem auto .25rem;
  border: 1px solid #2a3281;
  border-radius: .5rem;
  background-color: #2a3281;
  color: white;
}

button:hover {
  background-color: #00135b;
  cursor: url('../images/paw.png'), auto;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #a4dbda;
  color: #00135b;
}

small {
  font-size: .75rem;
  color: #999999;
  text-align: center;
  display: block;
}

#message {
  font-size: .85rem;
  color: #bf0000;
  margin-left: .5rem;
}

aside {
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  flex-basis: 25%;
  margin: 0;
  padding: 1rem;
  border-spacing: 0;
}

h4 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2a3281;
}

h4 + p {
  padding-top: 1rem;
}

table {
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  flex-basis: 25%;
  margin: 0;
  border-spacing: 0;
}

caption {
  font-size: 1.25rem;
  width: 100%;
  padding: .5rem;
  font-weight: 600;
  color: #2a3281;
}

tr {
  width: 100%;
  
}

td {
  border-top: 1px solid #2a3281;
  padding: .5rem;
  background-color: white;
}

tr td:first-of-type {
  background-color: #eeeeee;
  padding-right: .25rem;
}

@media(max-width: 950px) {
  article {
    flex-direction: row;
    flex-wrap: wrap;
  }
  figure {
    flex-basis: 49%;
    height: 49%;
    order: 1;
    margin: 2% 2% 0 0;
  }
  form, section {
    flex-basis: 100%;
    margin: 0;
    height: 100%;
    order: -1;
  }
  aside {
    flex-basis: 49%;
    order: 2;
    height: 49%;
    margin: 2% 0 0 0;
  }
  table {
    flex-basis: 49%;
    order: 2;
    height: 49%;
    margin: 2% 0 0 0;
  }
}

@media(max-width: 600px) {
  article {
    flex-wrap: wrap;
  }
  figure {
    flex-basis: 100%;
    order: -1;
    margin: 0;
    height: 60vw;
  }
  form, section {
    flex-basis: 100%;
    margin: 2% 0 0 0
  }
  aside {
    flex-basis: 100%;
    order: 1;
  }
  table {
    flex-basis: 100%;
    order: 1;
  }
}

@media(max-width: 550px) {
  #logo {
    width: 15rem;
    height: 100%;
  }
  h2 {
    margin-right: 35%;
  }
}

@media(max-width: 400px) {
  #logo {
    width: 12rem;
    height: 100%;
  }
  h2 {
    font-size: .9rem;
    margin-right: 35%;
  }
  #shadow, #borktag {
    width: 5rem;
    height: 6.6rem;
  }
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: .75rem;
  text-align: center;
  padding: .5rem;
  background-color: #ffffff;
}

