* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  background: url('../images/diams-gradient.svg');
  background-repeat: no-repeat;
  background-position: right;
}

a {
  cursor: url('../images/paw.png'), auto;
}

header {
  padding: 1rem 1.5rem 10rem;
  margin-bottom: -10rem;
  width: 100%;
  position: relative;
}

@media(max-width:1280px) {
  header {
    background-size: cover;
  }
}

#logo {
  display: inline-block;
  width: 20rem;
  height: 100%;
  margin-right: auto;
}

#borktag {
  display: inline-block;
  width: 6.8rem;
  height: 9rem;
  animation: drop 1s cubic-bezier(.57,.12,.71,1.68), spin 3s linear infinite 1.1s;
  position: absolute;
  top: 1rem;
  right: 2rem;
  z-index: 2;
  filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .4));
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .4));
    }
  50% {
    -webkit-transform: rotateY(180deg);
    filter: drop-shadow(-4px 4px 3px rgba(0, 0, 0, .4));
  }
  100% {
    -webkit-transform: rotateY(359deg);
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .4));
  }
}

@keyframes drop {
  0% {
    transform: translateY(-125%);
  }
  70% {
    transform: translateY(4%);
  }
  80% {
    transform: translateY(-2%);
  }
  90% {
    transform: translateY(1%);
  }
  100% {
    transform: translateY(0);
  }
}

h2 {
  display: inline-block;
  color: #666666;
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.25rem;
}

article {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 250px auto auto auto auto;
}

figure {
  grid-column: 1 / 4;
  grid-row: 1 / 5;
  display: block;
  margin: 0;
}

figure img {
  object-fit: cover;
  width: 100%;
  display: block;
  padding: 0;
  margin: 0;
}

form, section {
  background-color: rgba(44, 53, 128, .9);
  grid-column: 3 / 6;
  grid-row: 2 / 4;
  z-index: 2;
  padding: 3rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1rem;
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  color: white;
}

form p, section p {
  padding-top: 1rem;
}

textarea:focus, input:focus {
    outline: none;
}

label {
  width: 100%;
  display: block;
  font-weight: 600;
  font-size: 1rem;
  padding-top: .5rem;
}

label:first-of-type {
  padding-top: 1rem;
}

input[type="text"],[type="tel"],[type="email"],[type="number"] {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid #2a3281;
}

input::placeholder, textarea::placeholder {
  color: #cccccc;
}

textarea {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid #2a3281;
}

button {
  font-family: 'Merriweather', serif;
  width: 100%;
  padding: .5rem;
  font-size: 1.25rem;
  margin: .5rem auto .25rem;
  border: 1px solid #2a3281;
  border-radius: .5rem;
  background-color: #a4dbda;
  color: #2a3281;
}

button:hover {
  background-color: #7db2b2;
  color: white;
  cursor: url('../images/paw.png'), auto;
}

button:focus {
  outline: none;
}

button:active {
  background-color: #528888;
  color: white;
}

small {
  font-size: .75rem;
  color: #999999;
  text-align: center;
  display: block;
}

#message {
  font-size: .85rem;
  color: #fdc70c;
  margin: .5rem .25rem;
}

aside {
  grid-column: 4 / 6;
  grid-row: 4 / 6;
  background-color: rgba(255, 255, 255, .5);
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  flex-basis: 40%;
  position: relative;
  padding: 2rem;
  border-spacing: 0;
}

h4 {
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: #2a3281;
}

h4 + p {
  padding-top: 1rem;
}

table {
  grid-column: 4 / 6;
  grid-row: 4 / 6;
  z-index: 2;
  font-family: 'Open Sans', sans-serif;
  border-spacing: 0 .5rem;
  margin: .5rem;
}

caption {
  font-family: 'Merriweather', serif;
  font-size: 1.25rem;
  width: 100%;
  padding: .5rem;
  font-weight: 600;
  color: #2a3281;
}

tr {
  width: 100%;
}

td {
  padding: .5rem .5rem .5rem 1rem;
  background-color: rgba(255, 255, 255, .75);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

tr td:first-of-type {
  width: 9rem;
  background-color: rgba(153, 153, 153, .5);
  padding-right: .25rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

@media(max-width: 1200px) {
  table {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
  }
}

@media(max-width: 1000px) {
  aside {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
  }
}

@media(max-width: 850px) {
  body {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
  article {
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-rows: 400px auto auto auto auto auto;
  }
  figure {
    grid-column: 1 / 5;
    grid-row: 1 / 4;
  }
  form, section {
    grid-column: 2 / 6;
    grid-row: 3 / 5;
  }
}

@media(max-width: 560px) {
  h2 {
    font-size: 1rem;
    padding-right: 6.5rem;
  }

}

@media(max-width: 500px) {
  #logo {
    width: 15rem;
    height: 100%;
  }
  #borktag {
    width: 6rem;
    height: 7.9rem;
    right: 1rem;
  }
  form, section {
    padding: 1rem;
  }
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: .75rem;
  text-align: center;
  padding: .5rem;
}

