* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #a4dbda;
}

header {
  background-color: #2a3281;
  padding: 1rem 1.5rem .5rem;
  width: 100%;
}

#logo {
  display: inline-block;
  width: 20rem;
  height: 100%;
  margin-right: auto;
}

#borktag {
  display: inline-block;
  width: 6rem;
  height: 7.9rem;
  animation: spin 3s ease-in-out infinite;
  z-index: 2;
  position: absolute;
  top: .5rem;
  right: .6rem;
}

#shadow {
  display: inline-block;
  width: 6rem;
  height: 7.9rem;
  animation: spin 3s ease-in-out infinite;
  position: absolute;
  top: .9rem;
  right: .2rem;
  opacity: .8;
}

@keyframes spin {
  from {
    -webkit-transform: rotateY(0deg);
    }
  to {
    -webkit-transform: rotateY(359deg);
  }
}

article {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: #d7f5f5;
}

h2 {
  flex-basis: 100%;
  color: #d7f5f5;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1.25rem;
}

figure {
  border: 1px solid #a4dbda;
  flex-basis: 25%;
  height: 25vw;
  display: block;
  margin: 0;
}

figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 800px;
  max-width: 800px;
  display: block;
  padding: 0;
  margin: 0;
}

figure figcaption {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  background-color: #a4dbda;
  text-align: center;
  padding: .5rem;
  margin: 0;
  color: #2a3281;
}

form {
  border: 1px solid #a4dbda;
  background-color: white;
  margin: 0 2%;
  padding: 1rem;
  font-family: 'Open Sans', sans-serif;
  color: #021d68;
  font-size: 1rem;
  flex-basis: 46%;
}

h3 {
  font-size: 1.25rem;
  color: #2a3281;
}

form p {
  padding-bottom: 1rem;
}

textarea:focus, input:focus {
    outline: none;
}

form p:last-of-type {
  display: block;
  padding: 0 1rem 0 .25rem;
}

label {
  width: 100%;
  display: block;
  font-size: 1rem;
  padding: .25rem;
}

.radio {
  display: inline;
  padding-right: 1rem;
}

input[type="radio"] {
  margin: .25rem;
  display: inline-block;
}

input[type="text"],[type="tel"],[type="email"],[type="number"] {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid #2a3281;
}

input::placeholder {
  color: #cccccc;
}

textarea {
  display: block;
  width: 100%;
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid #2a3281;
}

button {
  width: 100%;
  padding: .5rem;
  font-size: 1.25rem;
  margin: .5rem auto .25rem;
  border-radius: .5rem;
  background-color: #2a3281;
  color: white;
}

small {
  font-size: .75rem;
  color: #999999;
  text-align: center;
  display: block;
}

#message {
  font-size: .85rem;
  color: #bf0000;
  margin-left: .5rem;
}

button:hover {
  background-color: #00135b;
}

aside {
  background-color: white;
  border: 1px solid #a4dbda;
  font-family: 'Open Sans', sans-serif;
  flex-basis: 25%;
  margin: 0;
  padding: 1rem;
  border-spacing: 0;
}

h4 {
  color: #2a3281;
}

table {
  border: 1px solid #a4dbda;
  font-family: 'Open Sans', sans-serif;
  flex-basis: 25%;
  margin: 0;
  border-spacing: 0;
}

caption {
  width: 100%;
  padding: .5rem;
  font-weight: 800;
  background-color: #a4dbda;
  color: #2a3281;
}

tr {
  width: 100%;
  
}

td {
  border-top: 1px solid black;
  padding: .5rem;
  background-color: white;
}

tr td:first-of-type {
  background-color: #cccccc;
  padding-right: .25rem;
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: .75rem;
  text-align: center;
  padding: .5rem;
  background-color: #a4dbda;
}

