$light: #f8eddb;
$medium: #b29172;
$med8: rgba(178, 145, 114, .8);
$med9: rgba(178, 145, 114, .9);
$dark: #312a24;
$shadow: #1c1616;
$accent1: #f77462;
$acc8: rgba(247, 116, 98, .8);
$acc9: rgba(247, 116, 98, .9);
$accent2: #fdc70c;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#ffffff, #f8eddb, #b29172, #b29172);
  min-height: 100vh;
}

a {
  cursor: url('../images/paw.png'), auto;
}

header {
  grid-column: 1 / 9;
  grid-row: 1 / 3;
  width: 100%;
  position: relative;
  padding-top: 1rem;
  }

#logo {
  display: block;
  width: 100%;
  max-width: 25rem;
  height: 100%;
  padding: 0 1rem .5rem;
  margin-right: auto;
}

h2 {
  display: inline-block;
  color: $medium;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.22rem;
  padding: 0 1rem .5rem;
}

article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5rem auto auto auto 2rem auto auto auto;
}

figure {
  grid-column: 1 / 9;
  grid-row: 3 / 6;
  overflow: hidden;
  img {
    object-fit: cover;
    object-position: top left;
    max-width: 125%;
  }
}

section {
  min-height: 22rem;
  background: $acc9;
  background-size: cover;
  background-position: center;
  padding: 5%;
  grid-column: 1 / 9;
  grid-row: 5 / 9;
  font-family: 'Open Sans', sans-serif;
  color: $shadow;
  font-size: 1rem;
  position: relative;
  p {
    padding-top: 1rem;
  }
  h4 {
    font-family: 'Merriweather', serif;
    font-size: 1.25rem;
    padding: 1rem 0 .5rem 0;
  }
  ol {
    margin-left: 1.25rem;
  }
  textarea {
    display: block;
    background: none;
    border: none;
    resize: none;
    margin: .5rem 0;
    padding: .5rem;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    color: $dark;
    border-radius: .5rem;
    background-color: white;
  }
  button {
    font-family: 'Merriweather', serif;
    padding: .75rem .25rem;
    font-size: 1rem;
    display: inline-block;
    margin: .5rem 0;
    width: 48%;
    height: 3rem;
    border: 1px solid $accent2;
    border-radius: .5rem;
    background-color: $accent2;
    &:first-of-type {
      margin-right: 4%;
    }
    &:hover {
      background-color: $dark;
      color: $accent2;
      outline: none;
      cursor: url('../images/paw.png'), auto;
    }
    &:focus {
      outline: none;
    }
    &:active {
      border: 1px solid $accent2;
      color: $light;
    }
  }
  .selected {
    background-color: $dark;
    color: white;
  }
}

h3 {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  color: $shadow;
}

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: .75rem;
  text-align: center;
  padding: .5rem;
}

@media(min-width:700px) {
  article {
    grid-template-columns: 1fr 1fr 1fr 5rem 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem auto auto auto 2rem auto auto auto;
  }
  figure {
    grid-column: 1 / 5;
    grid-row: 3 / 9;
  }
  section {
    grid-column: 5 / 9;
    grid-row: 3 / 9;
  }
}

@media(min-width:825px) {
  figure {
    overflow: visible;
  }
  section {
    grid-column: 5 / 9;
    grid-row: 2 / 8;
  }  
}

@media(min-width: 1000px) {
  article {
    grid-template-columns: 1fr 1fr 1fr 5rem 1fr 1fr 1fr 1fr;
    grid-template-rows: 5rem auto auto auto 2rem auto auto auto;
  }
  section {
    padding-bottom: 1%;
  }
}